/* General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Container styling */
.container {
    max-width: 950px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Link styling */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Table styling */
table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Button styling */
button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px; /* Limit the width of the form */
    margin: 0 auto; /* Center the form horizontally */
}

form label {
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"],
form input[type="number"] {
    padding: 5px;
    margin-bottom: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Ensure inputs take up the full width of their container */
    max-width: 400px; /* Limit the maximum width of the inputs */
}

form input[type="submit"] {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Ensure the submit button takes up the full width of its container */
    max-width: 400px; /* Limit the maximum width of the button */
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

